@model Order
    <h1 class="display-4">Order description</h1>
<div class="container p-5 my-5 border border-success rounded">
    <p><span style="font-weight: bolder">Order Id: </span>@Model.Id</p>
    <p><span style="font-weight: bolder">Sender's city: </span>@Model.CityOfSender</p>
    <p><span style="font-weight: bolder">Sender's Address:</span> @Model.AddressOfSender</p>
    <p><span style="font-weight: bolder">Recipient's City:</span> @Model.RecipientCity</p>
    <p><span style="font-weight: bolder">Recipient's Address: </span>@Model.RecipientAddress</p>
    <p><span style="font-weight: bolder">Cargo Weight:</span> @Model.CargoWeight kg</p>
    <p><span style="font-weight: bolder">Date of receipt:</span> @Model.ReceiptDate.ToShortDateString()</p>
    <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteOrder" asp-route-orderId="@Model.Id">Delete order</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go back</a>
</div>